.side-profile {
  width: 35%;
  height: 100%;
  padding: 10px;
  border-right: 1px solid #d0cfcf;
  .profile-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .name {
      text-align: center;
      padding: 10px 0px 10px 0px;
    }
    .profile-img {
      width: 150px;
      height: 150px;
      background-position: center;
      background-size: cover;
      //   border: solid 2px #007fff;
      border-radius: 100px;
      margin-top: 1vh;
    }
    .tasks-data {
      display: flex;
      justify-content: space-around;
      width: 100%;
      padding-top: 5%;
      .tasks {
        text-align: center;
        .number {
          font-family: "Secular One", sans-serif;
        }
      }
    }
  }
  .pages {
    margin-top: 20px;
    cursor: pointer;
    ul {
      padding-top: 5vh;
      list-style: none;
      .li {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        font-weight: 300;
        display: flex;
        justify-content: space-between;
        font-family: "Roboto", sans-serif;
        background-color: #007fff;
        color: white;
        border-radius: 10px;
      }
      .link {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        font-weight: 300;
        display: flex;
        justify-content: space-between;
        font-family: "Roboto", sans-serif;
        .svg {
          display: none;
        }
        &:hover {
          background-color: #f0f8ff;
          .svg {
            display: flex;
          }
        }
      }
    }
  }
}
