.side-profile {
  width: 35%;
  height: 100%;
  padding: 10px;
  border-right: 1px solid rgba($color: #7fcec5, $alpha: 0.3);
  .profile-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .name {
      text-align: center;
      padding: 10px 0px 10px 0px;
    }
    .profile-img {
      width: 150px;
      height: 150px;
      background-position: center;
      background-size: cover;
      border-radius: 100px;
      margin-top: 1vh;
    }
    .tasks-data {
      display: flex;
      justify-content: space-around;
      width: 100%;
      padding-top: 5%;
      .tasks {
        text-align: center;
        .number {
          font-family: "Secular One", sans-serif;
        }
      }
    }
  }
  .pages {
    margin-top: 20px;
    cursor: pointer;
    ul {
      padding-top: 5vh;
      list-style: none;
      .li {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        font-weight: 300;
        display: flex;
        justify-content: space-between;
        font-family: "Roboto", sans-serif;
        background-color: rgba($color: #007FFF, $alpha: 0.88);
        color: white;
        border-radius: 10px;
      }
      .link {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        font-weight: 300;
        display: flex;
        justify-content: space-between;
        font-family: "Roboto", sans-serif;
        .svg {
          display: none;
        }
        &:hover {
          background-color: rgba($color: #7fcec5, $alpha: 0.1);
          .svg {
            display: flex;
          }
        }
      }
    }
  }
}
