.discription-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
  .disc-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-family: "Secular One", sans-serif;
    }
  }
  .discription {
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .state {
    align-self: flex-end;
    font-size: 25px;
    color: #14557b;
    cursor: pointer;
  }
}
